*{
    box-sizing: border-box;}
.main-nav{
    float: right;
    list-style: none;
    margin-top: 30px;}
.main-nav li{
    display: inline-block;}
.main-nav li a{
    color:white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;}
.main-nav li.active a{
    border: 1px solid lightblue;}
.main-nav li a:hover{
    border: 1px solid lightblue;}
.row{
    max-width: 1200px;
    margin:auto;}
body{
    background-color: rgba(27,31,34,0.85);
    font-family: monospace;
    margin: 0;}
h1{
    font-size: 2.1rem;
    line-height: 1.4;
    letter-spacing: 0.5rem;
    text-align: center;
    color: white;
    margin-top: 50px;}
.container{
    max-width: 1200px;
    margin: auto;
    background: rgba(27,31,34,0.85);;
    overflow: auto;}
.main{
    margin: 5px;
    border: 1px solid #cccccc;
    float: left;
    width: 390px;}
.main img{
    width: 100%;
    height: auto;}