* 
{
    margin: 0;
    padding: 0;
}
header
{
    background-image: url(https://lh3.googleusercontent.com/nLj-Y3qXfi4lyt8RUMVGel7u2Hv8R6xGTKEPaJYo5MpOw4cFzicMjNWl0PATZ3-V6Sn-DvN43Pb4aVRuwsQnPKyHqru5B5Rco2XmULaN0EPy4jbdVDHKIAlDFRyBFv3OG3Ofv_WTXVtWXjlPS8-MB41-Dw8CcitSVPusNXQCW7aAKokFlyHkMJrh1vUUvCUMwsYjHvmoQbtE6siPHGDcLRTFtbXv40wNaT6oUBY-n3V49gzlIV6CTsciflD72OQgPK8jTQkKzhUr5Pkn0FrEpB9q_7UR0iROxpN4ipi2omBMaLtMa-t6h5_2xNEpeKXAI6f1nXMUqjx7Ws_tuqP_Ufpt6HDvSCEI-5feAYoMMCpYZZmrUTVrZjKmzl23PdEmq6Lg3VrEs0fOrndEmWHroizQ4Wy9rsR_z6VxmdxwVz4tj03zWWAj82qYot69RYxhEcAW3oE4iGWwVuwjWsnX1HhV_JgKCcjBl2m-nhXA55nWioc42c5PmM1H_rC8nYoeyqaw1VlTeBMvPRAVrDMo_VKJ4uwBCdUwQPxIjEQGJ8Y1y8w8sMKsTZAWHqO359YOiHMruDtxD2rYHTKARTm7T3JIfoo_dC-uY6p4EfkBd1pWcoNLIkg-Vy4Zb7eb2xaKmxygDbrNuatp5GClDPq94RwZhN42jGQpr77MHFOdLEIyfE4FQomLU22JJqIqHA=w958-h639-no?authuser=0);
    height: 100vh;
    background-size: cover;
    background-position: center;
}