*{
    margin: 0;
    padding: 0;}
body{
    background-color: rosybrown;
}
.main-nav{
    float: right;
    list-style: none;
    margin-top: 30px;}
.main-nav li{
    display: inline-block;}
.main-nav li a{
    color:white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;}
.main-nav li.active a{
    border: 1px solid lightblue;
}
.main-nav li a:hover{
    border: 1px solid lightblue;
}
body{
    font-family: monospace;
}
.row{
    max-width: 1200px;
    margin:auto;
}
.hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h1{
    color: white;
    text-transform: uppercase;
    font-size: 150px;
    text-align: top;
    margin-top: 275px;
}
p{
    color: white;
    font-size: 50px;
    text-align: top;
    margin-top: 275px;
}